<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>IMDB Movie Review Sentiment Analysis</h1>
    
    <form method="POST" action="/predict">
        <textarea name="review" rows="5" cols="40" placeholder="Enter your review"></textarea><br><br>
        <input type="submit" value="Analyze Sentiment">
    </form>
    
    {% if prediction %}
        <h2>Predicted Sentiment: {{ prediction }}</h2>
    {% endif %}
</body>
</html>